<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务的通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="add*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="rem*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="del*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="upd*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="mod*" isolation="DEFAULT" propagation="REQUIRED"/>
			<tx:method name="get*" isolation="DEFAULT" read-only="true" propagation="REQUIRED"/>
			<tx:method name="sel*" isolation="DEFAULT" read-only="true" propagation="REQUIRED"/>
			<tx:method name="login" isolation="DEFAULT" read-only="true" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 事务的切面 -->
	<aop:config>
		<aop:pointcut expression="execution(* com.moxiaowei.blog.service.*.*(..))" id="txPc"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPc"/>
	</aop:config>
	
	
	
</beans>